<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	h1, h2{
		margin: 0;
		padding: 0;
	}
	body{
		background-image:url("/assets/la.jpg");
		background-attachment:fixed;
		margin: 0;
		
	}
	div.header{
		height: 40px;
		border-bottom: 1px solid #ebebeb; 
		background-color: rgb(245, 245, 245);
		position: absolute;
		width: 100%;
		top: 0px;
	}
	div.bottom{
		height: 40px;
		background-color: rgb(245, 245, 245);
		border-top: 1px solid #ebebeb; 
		position: absolute;
		width: 100%;
		bottom: 0px;
	}
	.bottom ul{
		list-style: none;
		float:left;
		width: 95%;
	}
	.bottom ul li{
		display: inline;
	}
	
	.bottom ul li:FIRST-CHILD {
		padding-left: 60%
	}
	
	div.body{
		width: 100%;
		min-height: 450px;
	}
	.form-center {
		margin:150px 0 0 220px
	}
	.form-center h2{
		margin: 0 0 8px 10px
	}
	
	img#loginFB2{
		position: absolute;
		right: 40px;
		top:5px;
	}
	.sw_bd {
	    float: left;
	    font-size: medium;
	    position: relative;
	    z-index: 1;
	}
	.sw_b {
	    background: none repeat scroll 0 0 #FFFFFF;
	    border: 1px solid #E5E5E5;
	    float: left;
	    padding: 0.19em 3px 1.06em 0;
	}
	.sw_b input {
	    border: 0 none;
	    float: left;
	    font-size: 100%;
	    height: 1.25em;
	    line-height: 1.25em;
	    margin: 0 0 -1em;
	    outline: medium none;
	    padding: 0.25em 5px 0.31em 9px;
	    width: 570px;
	}
	.sw_b .sw_qbtn {
	    cursor: pointer;
	    font-size: 0;
	    height: 27px;
	    margin: 0 0 -14px;
	    overflow: hidden;
	    width: 155px;
	}
	#sb_form_go{
		background: url("/assets/btn-recomende.png");
	}
}
</style>
</head>
<body>
	<div class="header" style="">
		<h1>Header Loco</h1>
		<img id="loginFB2" alt="facebook login" src="http://static.ifood.com.br/img/bt-login.png">
	</div>
	<div class="body">
		<div id="main">
			<br>
			<div class="form-center">
				<h2 style="color:white;">Onde comprar:</h2>
				<div class="sw_bd">
					<div class="sw_b">
						<input type="text" maxlength="1000" id="sb_form_q" class="sw_qbox" placeholder="luva de box, tonner para impressora, ou o que você quiser...">
						<span class="sw_dvdr"></span>
						<input type="submit" value="" title="Search" tabindex="0" name="go" id="sb_form_go" class="sw_qbtn sw_sb">
					</div>
				</div>
			</div>
			<br><br>
			<span style="color:white; margin-left:796px;">Opiniões de pessoas.</span>
		</div>
	</div>
	<div class="bottom">
	</div>

</body>
</html>